<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
    <filter>
    </filter>
    <testsuites>
        <testsuite name="Library.Application">
            <!--
            <directory suffix=".php">.</directory>
            -->
            <file>ApplicationTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
